*{
    margin: 0;
    padding: 0;
}
header{
    background-color: wheat;
}

.ancgor-tag{
    padding-right: 50px !important;
    font-size: 20px;
}

span{
    color: aquamarine;
}

.btn-warning{
    margin-top: 15px;
}
.top-section{
    height: 100vh;
    background-color:wheat;
}


.man-jacket .card-img,
.woman-jacket .card-img {
    background-color: #ccc;
    width: 90%;
    margin: 5%;
    border-radius: 20px;
}

.man-jacket .card-img img,
.woman-jacket .card-img img,{
    height: 450px;
}


.man-jacket .cart-btn,
.woman-jacket .cart-btn {
    margin-top: 0px;
}

.man-jacket .card,
.woman-jacket .card{
    border-radius: 10px;
    border: none;
}

/* Card Feature */

.card-feature {
    margin-top: 90px;
}

.card-feature .card {
    border: none;
    border-radius: 10px;
}

.card-feature-image {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

/* Responsive -> Card Feature*/
.left-details {
    order: 2;
}

.right-details {
    order: 1;
    margin-bottom: 50px;
}


@media (min-width: 768px) {
    .left-details {
        order: 1;
    }

    .right-details {
        order: 2;
    }
}

/* Responsive -> Top Section */
.top-section .left-container {
    margin-top: 50px;
    text-align: center;
}


@media (min-width: 768px) {
    .top-section .left-container {
        margin-top: 50px;
        text-align: left;
    }
}
