*{
    margin: 0;
    padding: 0;
}
header{
    background-color: wheat;
}
.nav-image{
    width: 60%;
}
.ancgor-tag{
    padding-right: 50px !important;
    font-size: 20px;
}
.left-deteles{
    font-size: 60px;
    width: 600px;
}
span{
    color: aquamarine;
}
.left-detelesh5{
    width: 490px;
    line-height: 30px;
    margin-top: 15px;
}
.btn-warning{
    margin-top: 15px;
}
.top-section{
    height: 700px;
    background-color:wheat;
}